
    <div class="d-flex justify-content-between align-items-center p-3">
      <%= image_tag "visu-parcours-3.png", alt: "navigateur", width: 100, height: 100 %>
      <div class='h5 p-2 text-start'>
        <%= @challenge.name %>
      </div>
    </div>

    <div class="blue-line-show"></div>

  <div class="position-relative text-center">

    <%= image_tag "map.jpg", alt: "map", width: 500 %>
    <%= image_tag "pictos-parcours2.png", alt: "map", width: 300, class: 'ps-5 pt-5 position-absolute top-0 start-0' %>
    <%= link_to content1_path do %>
      <%= image_tag "picto-pin.png", alt: "pin", width: 20, class: 'content1' %>
    <% end %>
        <%= link_to content1_path do %>
      <%= image_tag "picto-pin.png", alt: "pin", width: 20, class: 'content2' %>
    <% end %>

  </div>
